table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  background: transparent !important;

  overflow: hidden;
  width:70vh;
}

td, th {

  text-align: left;
  font-size: 14px;
  border: 0.1px solid  black;
  padding: 0px;
  margin: 0px;
}


