<div style="width:80%; display: table; margin-left: 20px;"  >
  <div style="width: 100px ; flex-direction: column; ">
    <mat-label>Stamdata</mat-label>
<mat-form-field style="display: table-cell">

    <mat-label>BladId</mat-label>
    <input matInput id="bladid" placeholder="BladId">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Navn</mat-label>
    <input id="navn" matInput placeholder="Navn">
  </mat-form-field>

 <mat-form-field>

   <mat-label>Addresse</mat-label>
   <input matInput placeholder="Addresse">
 </mat-form-field>
  <mat-form-field>
    <input matInput id="Adresse2" placeholder="Adresse2">
  </mat-form-field>
  <mat-form-field>
    <mat-select>
      <mat-option [value]="2300">2300</mat-option>
    </mat-select>

  </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Tlf">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Fax">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="CVR">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="FIK">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Kontakt Person">
    </mat-form-field>
  </div>
  <div>


  </div>
  <div style="width: 100px ; flex-direction: column; ">
    <mat-label>Hovedgruppe</mat-label>

  </div>
</div>

