
  <section id="section">
    <div id="1">

        <label>Medieaplan nr</label>
        <mat-form-field class="field">
        <input type="text" id="medieplannr" matInput>
        </mat-form-field>


        <label>Konsulet</label>
      <mat-form-field class="field">
      <input type="text" id="konsulent" matInput>
      </mat-form-field>

    </div>
    <div id="2">
        <label>Annoncør</label>
        <mat-form-field class="field"><select matNativeControl placeholder="-Vælg annoncør-">
          <option></option>
        </select></mat-form-field>
        <label>Bureau</label>
        <mat-form-field class="field"><select matNativeControl placeholder="-Burea-">
          <option></option>
        </select></mat-form-field>
      <
    </div>
    <div id="3">
      <div class="ret">
        <label> Fra uge</label>
      </div>
    </div>
    <div id="4">


    </div>
  </section>
