
  <mat-list-item>



  </mat-list-item>
  <mat-list-item>
    <label for="navisionId1">Navision ID</label>
    <mat-form-field>
      <input matInput id="navisionId1" >
    </mat-form-field>
  </mat-list-item>
  <mat-list-item>
    <label for="navisionId2">Navision ID</label>
    <mat-form-field>
      <input matInput id="navisionId2">
    </mat-form-field>
  </mat-list-item>
  <mat-list-item>
    <label for="navisionKontakt">Kontakt</label>
    <mat-form-field >
      <input matInput id="navisionKontakt">
    </mat-form-field>
  </mat-list-item>

