.medieformfield  .mat-form-field-infix {
  background-color: white !important;
  border: black;
  border-style: solid;
  border-width: thin;
  height: 10px;
}

section#sectio0{
  margin-left: 10px;
  margin-top: 19px;
  width: 94%;
height: 30%;
  float: left;
}

div#section1 {
  height: 28%;
  float: left;
  width: 25%;
}

div#section2 {
  height: 28%;
  float: left;
  width: 25%;
}

div#section3 {
  height: 30%;
  float: left;
  width: 48%;
}


label {
  margin-right: 7%;
  margin-left: 0%;
  font-size: 14px;
  font-weight: bold;
}

format  .mat-form-field-infix {
  width:  50px;
}

gridtile  .mat-grid-tile .mat-figure  {
  background-color: #377ec5 !important;

}


.formatx  .mat-form-field-infix {
  width: 20px;
}

.field ::ng-deep .mat-form-field-infix {
  background-color: white !important;
  border: black;
  border-style: solid;
  border-width: thin;
  height: 10px;
}

::ng-deep .mat-input-underline {
  display: none !important;
}


::ng-deep .no-line .mat-form-field-underline {
  display: none;
}

.field ::ng-deep .mat-input-element  {
  background-color: white !important;
  border-style:  solid !important;
  border-width: 1px !important;
  height: 30px !important;
  padding: 0 !important;
  height: 23px !important;

}
