<div>
<section id="sectio0">
  <div id="section1">
    <label>Annoncør</label>
    <mat-form-field class="medieformfield">
     <select matNativeControl matInput placeholder="-Vælg Annoncør-"><option></option></select>
    </mat-form-field>
    <label>Bureau</label>
    <mat-form-field  class="medieformfield">

      <select matNativeControl matInput placeholder="-Vælg bureau- "><option></option></select>
    </mat-form-field>
    <label>Format</label>
    <mat-form-field  class="medieformfield">

      <input type="text"  matInput> x <input type="text" matInput>
    </mat-form-field>
    <div>
      <label>Antal farver</label>
      <mat-radio-group >
        <mat-radio-button labelPosition="before">S/H</mat-radio-button>
        <mat-radio-button labelPosition="before">1 Farve</mat-radio-button>
        <mat-radio-button value="true" labelPosition="before"> 4 Fave</mat-radio-button>
      </mat-radio-group></div>
    <label>Placering</label>
    <mat-form-field  class="medieformfield">

      <select  matNativeControl matInput placeholder="-vælg placering"><option></option></select>
    </mat-form-field>
    <div>
    <label>Ind. uge</label>
    <mat-form-field class="medieformfield">

      <select matInput matNativeControl></select>
    </mat-form-field>
      <label>År</label>
      <mat-form-field>
<select matInput matNativeControl><option></option></select>

      </mat-form-field>
    </div>

  </div>
  <div id="section2"></div>
  <div id="section3"></div>

</section>
</div>


