
<mat-grid-list cols="4" rowHeight="7:0.5">
  <mat-grid-tile class="gridtile"> <label>Annoncør</label>
    <mat-form-field class="medieformfield">
      <select matNativeControl matInput placeholder="-Vælg Annoncør-"><option *ngFor="let a of annonceer" value="a">{{a.Annoncoer}}</option></select>
    </mat-form-field></mat-grid-tile>
  <mat-grid-tile rowspan="6"><label>Bemærkning</label><textarea matNativeControl style="background-color: white"></textarea></mat-grid-tile>

  <mat-grid-tile rowspan="7" colspan="2"><label>Kommentar</label><textarea style="background-color: white" rows="20" cols="4"></textarea></mat-grid-tile>
  <mat-grid-tile><label>Bureau</label>
    <mat-form-field  class="medieformfield">

      <select matNativeControl matInput placeholder="-Vælg bureau- "><option *ngFor="let b of bureau" value="b">{{b.Annoncoer}}</option></select>
    </mat-form-field></mat-grid-tile>
  <mat-grid-tile> <label>Format</label>
    <mat-form-field  class="formatx">

      <input type="text"  matInput> x <input type="text" matInput>
    </mat-form-field></mat-grid-tile>
  <mat-grid-tile> <label>Antal farver</label>
    <mat-radio-group >
      <mat-radio-button labelPosition="before">S/H</mat-radio-button>
      <mat-radio-button labelPosition="before">1 Farve</mat-radio-button>
      <mat-radio-button value="true" labelPosition="before"> 4 Fave</mat-radio-button>
    </mat-radio-group></mat-grid-tile>
  <mat-grid-tile> <label>Placering</label>
    <mat-form-field  class="medieformfield">

      <select  matNativeControl matInput placeholder="-vælg placering"><option *ngFor="let p of placeringer" value="{{p.PlaceringID}}">{{p.Betegnelse}}</option></select>
    </mat-form-field></mat-grid-tile>
  <mat-grid-tile rowspan="2"> <label>Ind. uge</label>
    <mat-form-field class="medieformfield">

      <select matInput matNativeControl><option *ngFor="let w of weeks" value="{{w}}">{{w}}</option></select>
    </mat-form-field>
    <label>År</label>
    <mat-form-field>
      <select matInput matNativeControl><option *ngFor="let y of years" value="{{y}}">{{y}}</option></select>

    </mat-form-field></mat-grid-tile>
  <mat-grid-tile>10</mat-grid-tile>

</mat-grid-list>
<div>
<app-medieplan-avis-table></app-medieplan-avis-table>
</div>


