<section style="overflow-y: scroll; overflow-x: hidden " >
  <div id="over">
    <button mat-raised-button (mousedown)="openCreatenewPriceDialog($event)">Opret ny pris</button>
    <label style="margin-right: 4px;">Vælg År</label>
    <mat-form-field class="priser">
      <select  matInput matNativeControl [(ngModel)]="selectedYear"  >
        <option *ngFor="let y of years" value="{{y}}">{{y}}</option>
      </select>
    </mat-form-field>
    <label style="margin-right: 4px; text-overflow: ellipsis;">Prisliste</label>
    <mat-form-field class="priser">
      <select   (change)="setPosition()" placeholder="Prisliste" [(ngModel)]="selctedPriceItem"  matInput matNativeControl>
        <option *ngFor="let pl of  priseListItemns" value="{{pl.PrislisteID}}">{{pl.PrislisteNavn}}</option>
      </select>
    </mat-form-field>
    <app-pricetable></app-pricetable>
    <app-bladtil-laegs>

    </app-bladtil-laegs>
  </div>
  <div id="uge">
    <app-price-week  [year]="year"  [bladid]=bladId></app-price-week>
  </div>

</section>



