<div  style="width: 80%; height: 80%; margin-right: 10%; margin-left: 10%; margin-top: 10%;margin-bottom: 10% ">
  <form [formGroup]="userForm" class="example-form" (ngSubmit)="createUser()">
    <mat-form-field class="example-full-width">
      <input id="firstname" type="text" matInput formControlName="firstname">
      <mat-label>Foravn</mat-label>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input id="lastname" matInput type="text"  formControlName="lastname">
      <mat-label>Efternavn</mat-label>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input id="middlename" type="text" formControlName="middlename" matInput>
      <mat-label>Mellemnavn</mat-label>
    </mat-form-field>
    <mat-form-field>

      <mat-select id="jobfunction"  formControlName="jobfunction"  [(ngModel)]="jobFunction">
        <mat-option value="Sælger">Sælger</mat-option>
        <mat-option value="Support">Support</mat-option>
        <mat-option value="Adminstration">Adminstration</mat-option>
      </mat-select>

      <mat-label>Vælg jobfunktion</mat-label>
    </mat-form-field>
    <mat-form-field class="example-full-width">

      <input id="username" matInput type="text" formControlName="username" maxlength="50"   >
      <mat-label>Brugernavn</mat-label>
    </mat-form-field>
    <mat-form-field class="example-full-width">

      <input id="email" matInput type="email" formControlName="email">
      <mat-label>E-Mail</mat-label>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-form-field class="example-full-width">
        <input type="text" formControlName="konsulentkode">
      </mat-form-field>
      <input id="password" matInput type="password" formControlName="password">
      <mat-label>Password</mat-label>
    </mat-form-field>
    <mat-form-field class="example-full-width">

      <input id="repassword" matInput type="password"  formControlName="repassword">
      <mat-label>Gentag password</mat-label>
    </mat-form-field>
    <mat-form-field class="example-full-width">
    <input type="color" value="red" formControlName="color"  matInput  [(ngModel)] ="color" >
      <mat-label>Vælg face</mat-label>
    </mat-form-field>

    <button type="submit"  mat-flat-button>Opret</button>
  </form>
</div>
