
.stamblad  .mat-form-field-infix {
  background-color: white !important;
  border: black;
  border-style: solid;
  border-width: thin;
  height: 10px;
}

label{
  font-size: 14px;
  font-weight: bold;
  margin-left: 0%;
}
