.example-container /deep/ .mat-drawer-container {

display: flex !important;
}

.mat-drawer-content {

  padding: 0px;
  display: flex !important;
  flex-direction: column;
  align-items: flex-start;
  margin: 0%;
}



/deep/     .mat-toolbar.mat-primary  {

  background-color: #377ec5 !important;
}
