<div>
  <mat-form-field>
    <mat-select (selectionChange)="GetStamBladByEjerForhold(selected)" [(value)]="selected">

      <mat-option *ngFor="let ef of  data" value="{{ef.Ejerforhold}}">{{ef.Ejerforhold}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div>

  <table>
    <tr>
    <th>Blad Id</th><th>Navn</th>
    </tr>
    <tr *ngFor="let s of stamData"><td>{{s.BladId}}</td><td>{{s.Navn}}</td></tr>
    <tr><td><button mat-raised-button (click)="exportToExcel()">Export to Excel</button></td></tr>
  </table>


</div>
