<form [formGroup]="form">
<div class="col-lg-6">
  <div class="row"><label>Navn</label><input formControlName="navn" type="text"></div>
  <div class="row">
<label>Beskrivelse</label><input type="text">
  </div>
  <div class="row">
    <mat-radio-group formControlName="type"><mat-radio-button value="1">Annonce</mat-radio-button><mat-radio-button value="2">Bureau</mat-radio-button></mat-radio-group>
  </div>
  <div class="row"  style="float: left"><button class="btn" (click)="gem()">GEM</button></div>
</div>
</form>
