<table>
  <tr *ngFor="let ps of priser">
    <td>
  <mat-form-field appearance="outline" class="price">
    <input type="text" matInput size="2" value="{{ps.BladID1}}" >
  </mat-form-field>
    </td>
    <td>
  <mat-form-field appearance="outline" class="price">
    <input type="text" matInput  size="2" value="{{ps.FarvePris1}}">
  </mat-form-field>
    </td>
    <td>
  <mat-form-field appearance="outline" class="price">
    <input type="text" matInput size="2" value="{{ps.Farve4Pris1}}">
  </mat-form-field>
    </td>
    <td>
  <mat-form-field appearance="outline" class="price">
    <input type="text" matInput size="2" value="{{ps.FarveMax1}}">
  </mat-form-field>
    </td>
    <td>
  <mat-form-field appearance="outline" class="price">
    <input type="text"matInput  size="2" value="{{ps.FarveMin1}}">
  </mat-form-field>
    </td>
    <td>
  <mat-form-field appearance="outline"  class="price">
    <input type="text" matInput size="2"  value="{{ps.Farve4Max1}}">
  </mat-form-field>
    </td>
    <td>
  <mat-form-field appearance="outline" class="price">
    <input type="text "matInput size="2" value="{{ps.FormatFra1}}">
  </mat-form-field>
    </td>
    <td>
  <mat-form-field appearance="outline" class="price">
    <input type="text" matInput size="2" value="{{ps.FormatTil1}}">
  </mat-form-field>
    </td>
    <td>
  <mat-form-field appearance="outline" class="price">
    <input type="text" matInput size="2" value="{{ps.PlaceringID1}}">
  </mat-form-field>
    </td>
    <td>
  <mat-form-field appearance="outline" class="price">
    <input type="text"matInput  size="2" value="{{ps.ControlNavn1}}">
  </mat-form-field>
    </td>
  </tr>
  <tr></tr>
</table>
