table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid white;
  text-align: left;
  padding: 0px;
  font-size: 14px;
}

tr:nth-child(even) {
  background-color: white;
}
