<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" >

  <mat-toolbar color="primary" class="example-toolbar"  >

    <mat-toolbar-row  >
      <h1 class="example-app-name">{{name}}</h1>
      <button mat-button [matMenuTriggerFor]="Fil">Fil</button>
      <mat-menu #Fil="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="MediePlan">MediePlan</button>
      <mat-menu #MediePlan="matMenu">
        <button mat-menu-item >MediePlan</button>
        <button> </button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="booking">Booking</button>
      <mat-menu  #booking="matMenu">
        <button mat-menu-item> Opret</button>

      </mat-menu><button mat-button [matMenuTriggerFor]="Fakturering">Fakturering</button>
      <mat-menu #Fakturering>
        <button mat-menu-item>Item 1</button>

      </mat-menu>

      <button mat-button [matMenuTriggerFor]="Rapportering">Rapportering</button>
      <mat-menu #Rapportering>
        <button mat-menu-item>Item 1</button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="Administration">Adminstration</button>
      <mat-menu #Administration>
        <button mat-menu-item routerLink="stamblad">Stamblad</button>
        <button mat-menu-item routerLink="creatUser">Opret bruger</button>
      </mat-menu>

      <div style="margin-left: 30%;">
        <mat-form-field>
          <input matInput type="text" style="width: 100px;">
        </mat-form-field>
        <button mat-button (click)="showResultat()" >Search</button>
      </div>
      <button  class="example-icon"  mat-icon-button (click)="endnav.toggle()"><mat-icon >menu</mat-icon></button>

    </mat-toolbar-row>
  </mat-toolbar>
  <div id="mediePlans" *ngIf="hide"  style="width: 100%; height: 20%; "  >
    <h1>Hello world</h1>
    <button mat-raised-button (click)="hideResult()">hide</button>
  </div>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">


    <mat-sidenav #endnav position="end"  class="example-sidenav-container" >
      <app-stam-blad-over-sigt></app-stam-blad-over-sigt>
    </mat-sidenav >

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
<h1>jello</h1>

