<div class="example-container" [class.example-is-mobile]="mobileQuery.matches"  >

  <mat-toolbar color="primary" class="example-toolbar"  *ngIf="isUserLoggedIn" >

    <mat-toolbar-row  >
      <h1 class="example-app-name">{{name}}</h1>
      <button mat-button [matMenuTriggerFor]="Fil">Fil</button>
      <mat-menu #Fil="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="MediePlan">MediePlan</button>
      <mat-menu #MediePlan="matMenu">
        <button mat-menu-item routerLink="opret_medieplan" >Opret MediePlan</button>
        <button mat-menu-item (click)="findMediePlan()">Find MediePlan</button>
        <button> </button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="booking">Booking</button>
      <mat-menu  #booking="matMenu">
        <button mat-menu-item> Opret</button>

      </mat-menu><button mat-button [matMenuTriggerFor]="Fakturering">Fakturering</button>
      <mat-menu #Fakturering>
        <button mat-menu-item>Item 1</button>

      </mat-menu>

      <button mat-button [matMenuTriggerFor]="Rapportering">Rapportering</button>
      <mat-menu #Rapportering>
        <button mat-menu-item>Item 1</button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="Administration">Adminstration</button>
      <mat-menu #Administration>
        <button mat-menu-item routerLink="stamblad">Stamblad</button>
        <button mat-menu-item routerLink="opret">Opret bruger</button>
        <button mat-menu-item routerLink="indhentPriser">Indhent Priser</button>
        <button mat-menu-item routerLink="rabat" >Rabat Gruppe</button>
        <button  mat-menu-item (click)="openPlaceringDialog()">Pris Placering</button>
      </mat-menu>


<span class="example-spacer"></span>
        <button   mat-icon-button (click)="endnav.toggle()"><mat-icon class="example-icon" >menu</mat-icon></button>

    </mat-toolbar-row>

  </mat-toolbar>
  <div [@findMediePlan]="isOpen ? 'open' : 'closed'"><app-find-medieplan-toolbar></app-find-medieplan-toolbar></div>
  <div [@visResultat]="isResultat ? 'open' : 'closed'">
    <h1>Hello world</h1>
    <button mat-raised-button (click)="hideResult()">hide</button>
  </div>

  <mat-drawer-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0" [hasBackdrop]=hasBackDrop autosize="true">


    <mat-drawer #endnav position="end"  class="example-sidenav-container"  >
      <div><button mat-icon-button (click)="openAktiveAviserColumnsDialog()"><mat-icon>menu</mat-icon></button></div>
      <app-stam-blad-over-sigt></app-stam-blad-over-sigt>
    </mat-drawer>

    <mat-drawer-content>
      <router-outlet></router-outlet>
    </mat-drawer-content>

  </mat-drawer-container>
</div>


