/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';


@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

body {
  background-color: #999999;
}

.mat-raised-button {
  background-color: #377ec5  !important;
  color: white !important;
}

.mat-tab-group {
  margin-bottom: 0% !important;

}



 html {
   overflow: hidden;
 }
 .mat-drawer-inner-container {
   width: 80vh !important;

 }



 .mat-drawer-content {
   overflow: hidden !important;
 }
