<div>
  <mat-form-field style="width: 100%; margin-bottom: 10px;">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" >
  </mat-form-field>
  <button mat-icon-button (click)="groupbyname('GruppeNavn1')"><mat-icon>help</mat-icon></button>
  <mat-radio-group
    aria-labelledby="example-radio-group-label"
    class="example-radio-group"
    [(ngModel)]="favoriteSeason">
    <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
      {{season}}
    </mat-radio-button>
  </mat-radio-group>
  <mat-form-field>
    <input type="number" matInput>
  </mat-form-field>
  <button mat-raised-button>Søg</button>
</div>
<table mat-table [dataSource]="dataSoure" style="margin-bottom: 40px !important;  margin-top: 50px !important;" cdkDropList
       [cdkDropListData]="dataSoure"

>

  <ng-container matColumnDef="PostBy1" >
    <th mat-header-cell *matHeaderCellDef mat-sort-header>PostBy
      <mat-form-field class="filter" floatLabel="never" cdkDragHandle>
        <mat-label>Search</mat-label>
        <input matInput [formControl]="PostBy1">
      </mat-form-field>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.PostBy1}} </td>
  </ng-container>
  <ng-container matColumnDef="Adresse1">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Adresse
      <mat-form-field class="filter" floatLabel="never">
        <mat-label>Search</mat-label>
        <input matInput [formControl]="Adresse1">
      </mat-form-field>

    </th>
    <td mat-cell *matCellDef="let element"> {{element.Adresse1}} </td>
  </ng-container>


  <ng-container matColumnDef="Kontaktperson1">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Kontaktperson
      <mat-form-field class="filter" floatLabel="never">
        <mat-label>Search</mat-label>
        <input matInput [formControl]="Kontaktperson1">
      </mat-form-field>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.Kontaktperson1}} </td>
  </ng-container>

  <ng-container matColumnDef="Navn1">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Navn
      <mat-form-field class="filter" floatLabel="never">
        <mat-label>Search</mat-label>
        <input matInput [formControl]="Navn1">
      </mat-form-field>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.Navn1}} </td>
  </ng-container>
  <ng-container matColumnDef="Navn21">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Navn2
      <mat-form-field class="filter" floatLabel="never">
        <mat-label>Search</mat-label>
        <input matInput [formControl]="Navn21">
      </mat-form-field>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.Navn21}} </td>
  </ng-container>
  <ng-container matColumnDef="Oplag1">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Oplag
      <mat-form-field class="filter" floatLabel="never">
        <mat-label>Search</mat-label>
        <input matInput [formControl]="Oplag1">
      </mat-form-field>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.Oplag1}} </td>
  </ng-container>
  <ng-container matColumnDef="Tlf1">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Tlf
      <mat-form-field class="filter" floatLabel="never">
        <mat-label>Search</mat-label>
        <input matInput [formControl]="Tlf1">
      </mat-form-field>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.Tlf1}} </td>
  </ng-container>
  <ng-container matColumnDef="DagNavn1">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>DagNavn
      <mat-form-field class="filter" floatLabel="never">
        <mat-label>Search</mat-label>
        <input matInput [formControl]="DagNavn1">
      </mat-form-field>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.DagNavn1}} </td>
  </ng-container>
  <ng-container matColumnDef="DaekningsGrad1">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>DækningsGrad
      <mat-form-field class="filter" floatLabel="never">
        <mat-label>Search</mat-label>
        <input matInput [formControl]="DaekningsGrad1">
      </mat-form-field>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.DaekningsGrad1}} </td>
  </ng-container>
  <ng-container matColumnDef="GruppeNavn1">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>GruppeNavn
      <mat-form-field class="filter" floatLabel="never">
        <mat-label>Search</mat-label>
        <input matInput [formControl]="GruppeNavn1">
      </mat-form-field>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.GruppeNavn1}} </td>
  </ng-container>
  <ng-container matColumnDef="MaterialedeadlineRubrik1">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>MaterialedeadlineRubrik
      <mat-form-field class="filter" floatLabel="never">
        <mat-label>Search</mat-label>
        <input matInput [formControl]="MaterialedeadlineRubrik1">
      </mat-form-field>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.MaterialedeadlineRubrik1}} </td>
  </ng-container>
  <ng-container matColumnDef="MaterialedeadlineTekst1">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>MaterialedeadlineTekst
      <mat-form-field class="filter" floatLabel="never">
        <mat-label>Search</mat-label>
        <input matInput [formControl]="MaterialedeadlineTekst1">
      </mat-form-field>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.MaterialedeadlineTekst1}} </td>
  </ng-container>
  <ng-container matColumnDef="OrdredeadlineRubrik1">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>OrdredeadlineRubrik
      <mat-form-field class="filter" floatLabel="never">
        <mat-label>Search</mat-label>
        <input matInput [formControl]="OrdredeadlineRubrik1">
      </mat-form-field>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.OrdredeadlineRubrik1}} </td>
  </ng-container>
  <ng-container matColumnDef="OrdredeadlineTekst1">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>OrdredeadlineTekst
      <mat-form-field class="filter" floatLabel="never">
        <mat-label>Search</mat-label>
        <input matInput [formControl]="OrdredeadlineRubrik1">
      </mat-form-field>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.OrdredeadlineTekst1}} </td>
  </ng-container>
  <ng-container matColumnDef="PostNr1">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>PostNr1
      <mat-form-field class="filter" floatLabel="never">
        <mat-label>Search</mat-label>
        <input matInput [formControl]="PostNr1">
      </mat-form-field>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.PostNr1}} </td>
  </ng-container>
  <ng-container matColumnDef="RegionNavn1">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>RegionNavn1
      <mat-form-field class="filter" floatLabel="never">
        <mat-label>Search</mat-label>
        <input matInput [formControl]="RegionNavn1">
      </mat-form-field>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.RegionNavn1}} </td>
  </ng-container>
  <ng-container matColumnDef="BladID1">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>BladID1
      <mat-form-field class="filter" floatLabel="never">
        <mat-label>Search</mat-label>
        <input matInput [formControl]="BladID1">
      </mat-form-field>

    </th>
    <td mat-cell *matCellDef="let element">{{element.BladID1}} </td>
  </ng-container>
  <ng-container matColumnDef="CVR1">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>CVR
      <mat-form-field class="filter" floatLabel="never">
        <mat-label>Search</mat-label>
        <input matInput [formControl]="CVR1">
      </mat-form-field>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.CVR1}} </td>
  </ng-container>
  <ng-container matColumnDef="DelOmraadeNavn1">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>DelOmrådeNavn
      <mat-form-field class="filter" floatLabel="never">
        <mat-label>Search</mat-label>
        <input matInput [formControl]="DelOmraadeNavn1">
      </mat-form-field>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.DelOmraadeNavn1}} </td>
  </ng-container>
  <ng-container matColumnDef="GeoKodeNavn1">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>GeoKodeNavn1
      <mat-form-field class="filter" floatLabel="never">
        <mat-label>Search</mat-label>
        <input matInput [formControl]="GeoKodeNavn1">
      </mat-form-field>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.GeoKodeNavn1}} </td>
  </ng-container>
  <ng-container matColumnDef="HovedGruppeNavn1">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>HovedGruppeNavn1
      <mat-form-field class="filter" floatLabel="never">
        <mat-label>Search</mat-label>
        <input matInput [formControl]="HovedGruppeNavn1">
      </mat-form-field>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.HovedGruppeNavn1}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnsnames" draggable="true">
    <button (click)="openDialog()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
  </tr>
  <tr mat-row *matRowDef="let row; columns: columnsnames;" cdkDrag [cdkDragData]="row" (click)="getRowData(row)"></tr>

</table>

