<div style="left: 100px;" *ngIf="erDerStamblad">
  <app-stamblad-paginator [num]="0" [minNumber]="0" [maxNumber]="maxAntalAviser"></app-stamblad-paginator>
</div>
<div *ngIf="erDerStamblad">
  <button mat-icon-button (click)="StartOpretNytStamBlad()">
    <mat-icon>add_circle</mat-icon>
  </button>
  <button mat-icon-button (click)="OpdatereStamBlad()"><mat-icon>save</mat-icon></button>
  <button mat-icon-button (click)="OpretNode()"><mat-icon>note_add</mat-icon></button>
<h2 style="margin-left: 100px;"><label style="margin-right: 10px; font-size: 30px;">Avis navn:</label>{{stamBladNavn}}</h2>
</div>
<form [formGroup]="stamBladForm">

    <mat-tab-group *ngIf="erDerStamblad" class="stambladtab">

      <mat-tab label='Navn/Adresser'>
      <section>
<div id="stabblad1">
  <label style="margin-right: 9% !important;">Blad ID</label>
  <mat-form-field id="matbladid" class="stamblad">

    <input class="textfield-stamblad" matInput id="bladid"  type="text" readonly="true"  formControlName="BladId" value="BladId"  placeholder="Blad Id" >

  </mat-form-field>

  <div>
    <label style="margin-right: 11.5% !important;">Navn</label>
    <mat-form-field class="stamblad" >
      <input matInput class="mat-form-field" formControlName="Navn" value="Navn" required placeholder="Navn">

    </mat-form-field>
  </div>


  <div>
    <label  style="margin-right:8%;">Adresse</label>
    <mat-form-field class="stamblad">

      <input matInput formControlName="Adresse" value="Adresse" >

    </mat-form-field>
  </div>


  <div>
    <label>Adresse2</label>
    <mat-form-field class="stamblad">
      <input matInput formControlName="Adresse2" value="Adresse2" placeholder="Addresse 2">

    </mat-form-field>
  </div>


  <div>
    <label>Postnr/By</label>
    <mat-form-field class="stamblad">
      <select formControlName="PostNr" value="PostNr" matNativeControl placeholder="Post Nummer" required matAutocompleteOrigin
              [(ngModel)]="selectedPost"
              (change)="setByNavnByZipCode()">

        <option *ngFor="let p of postNr" [value]="p?.PostNr">{{p?.PostNr}}</option>

      </select>
    </mat-form-field>

    <app-by></app-by>
  </div>



  <div><label style="margin-right: 15% !important;">Tlf</label>
    <mat-form-field class="stamblad">
      <input matInput id="Tlf" formControlName="Tlf" value="Tlf" placeholder="Tlf">

    </mat-form-field>
  </div>



  <div>
    <label style="margin-right: 14.5% !important;">Fax</label>
    <mat-form-field class="stamblad">
      <input matInput id="Fax" formControlName="Fax" value="Fax" placeholder="Fax">

    </mat-form-field>
  </div>
</div>
<div id="stabblad2">
          <label>Kontakt Person</label>
          <mat-form-field  class="stamblad">
          <input formControlName="Kontaktperson" value="Kontaktperson" matInput
          ></mat-form-field>



  <div>
    <label>Ejerforhold</label>
    <mat-form-field class="stamblad">
      <select formControlName="Ejerforhold" value="Ejerforhold" matNativeControl required placeholder="Ejerforhold">

        <option *ngFor="let ej of ejerforholdliste"
                [value]="ej.Ejerforhold">{{ej.Ejerforhold}}</option>
      </select>
    </mat-form-field>
  </div>
</div>
        <div id="stabblad3">

          <mat-accordion style="width: 300px !important;">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Bogholderi
                </mat-panel-title>

              </mat-expansion-panel-header>
              <app-bogholderi></app-bogholderi>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Avis status
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-grid-list cols="1" rowHeight="10:1">
                <mat-grid-tile rowspan="1">
                  <mat-checkbox formControlName="Ophoert" value="Ophoert" (click)="stamBladOphoert()">
                    Ophørt
                  </mat-checkbox>
                </mat-grid-tile>

                <div style="float: left;">
                  <mat-checkbox formControlName="VisPaaWww"
                                value="VisPaaWww">Vis på Web
                  </mat-checkbox>

                  <mat-checkbox formControlName="Overfoert"
                                value="Overfoert">Skal Overføres til web
                  </mat-checkbox>
                </div>


                <mat-radio-group formControlNam="HovedgruppeId" value="HovedgruppeId"  aria-label="Select an option">
                  <mat-radio-button value="0">DD</mat-radio-button>
                  <mat-radio-button value="1">DL</mat-radio-button>
                  <mat-radio-button value="2">Øvrige</mat-radio-button>
                </mat-radio-group>


                <mat-form-field class="stamblad">
                  <select id="MedlemMaaned" formControlName="MedlemMaaned" matInput
                          placeholder="{{stamBladForm.get('MedlemMaaned').value}}"
                          matNativeControl
                          required="true">

                    <option *ngFor="let mo of months" [value]="mo">{{mo.name}}</option>

                  </select>
                </mat-form-field>

                <mat-form-field class="stamblad">
                  <select id="MedlemAAr" formControlName="MedlemAAr"
                          placeholder="{{stamBladForm.get('MedlemAAr').value | year}}" matNativeControl>


                    <option *ngFor="let y of years" [value]="y">{{y}}</option>
                  </select>

                </mat-form-field>

              </mat-grid-list>
            </mat-expansion-panel>
          </mat-accordion>
        </div>

</section>
      </mat-tab>

      <mat-tab label="Dækningsområde">
        <section>
          <div id="one">
            <div style="width: 100%; height: 10%">
            <h4>Geografisk Data</h4>
            </div>
            <div style="width: 100%; height: 16%">
              <label>Region</label>
              <mat-form-field class="stamblad">
                <select id="RegionId" formControlName="RegionId" matNativeControl
                        placeholder="{{stamBladForm.get('RegionId').value}}">

                  <option *ngFor="let d of regions" [value]="d">{{d.RegionNavn}}</option>
                </select>
              </mat-form-field>
            </div>

              <div style="width: 100%; height: 16%">
                <label>Delområde</label>
                <mat-form-field class="stamblad">
                  <select id="DelOmraadeId" formControlName="Delomraade" matNativeControl
                          placeholder="{{ stamBladForm.get('Delomraade').value }}"
                  >

                    <option *ngFor="let r of delomraader" [value]="r">{{r.DelOmraadeNavn1}}</option>
                  </select>

                </mat-form-field>
              </div>

<div style="width: 100%; height: 16%">
              <label>GeoKode</label>
              <mat-form-field class="stamblad">
                <select formControlName="GeoKodeId" value="GeoKodeId" matNativeControl
                        placeholder="{{stamBladForm.get('GeoKodeId')?.value }}">

                  <option *ngFor="let g of geocodes" [value]="g">{{g.GeoKodeNavn}}</option>
                </select>

              </mat-form-field>

</div>

            <div style="width: 100%; height: 16%">
              <label>TotalOmråde</label>
              <mat-form-field class="stamblad">
                <input matInput id="Totalomraade" formControlName="Totalomraade" value="Totalomraade">

              </mat-form-field>

            </div>



<div style="width: 100%; height: 16%;">
<label>Oversigt overdækning</label>
  <textarea rows="3" cols="40" style="overflow-y: auto;" ></textarea>
</div>



</div>
          <div id="two">
            <div style="width: 100%; height: 100%;">
            <mat-label>Blad Dækning</mat-label>
            <app-blad-daekning [bladid]="bladId"></app-blad-daekning>
            </div>
          </div>
        </section>


      </mat-tab>

      <mat-tab label="Priser">
        <app-price-tab></app-price-tab>

      </mat-tab>

      <mat-tab label="Teknisk Data">

        <div class="divTable">
          <div class="divTableRow">
            <div class="divTableCell">
              <mat-list>
                <mat-list-item>
                  <mat-tab>Teknisk Data</mat-tab>
                </mat-list-item>
                <mat-list-item>
                  <label style="margin-right: 30% !important;">Oplag</label>
                  <mat-form-field class="stamblad">
                    <input matInput type="text" id="Oplag" formControlName="Oplag" value="Oplag">

                  </mat-form-field>
                </mat-list-item>
                <mat-list-item>
                <label style="margin-right: 27.5% !important;">Ugedag</label>
                  <mat-form-field class="stamblad">
                    <select id="Ugedage"
                            formControlName="UgedagId" matNativeControl matInput
                            [placeholder]="tekniskDagNavn"                             (change)="setTekniksUgeDag(stamBladForm.get('UgedagId').value)" >

                      <option class="stamblad" *ngFor="let d of dage" [value]="d">{{d.DagNavn}}</option>
                    </select>
                  </mat-form-field>
                </mat-list-item>
                <mat-list-item>
                  <label style="margin-right: 28.5% !important;">Format</label>
                  <mat-form-field class="stamblad">
                    <input matInput id="Format" type="text" formControlName="Format" value="Format">

                  </mat-form-field>
                </mat-list-item>
              </mat-list>

              <mat-list>
                <mat-list-item>
                  <h6>Deadlines for ordre</h6>
                </mat-list-item>

                <mat-list-item>
                  <label style="margin-right: 9% !important;">Ordre Deadline Tekst</label>
                  <mat-form-field class="stamblad">

                    <input id="OrdredeadlineTekst" formControlName="OrdredeadlineTekst" matInput
                           value="OrdredeadlineTekst">

                  </mat-form-field>
                </mat-list-item>
                <mat-list-item>
                  <label  style="margin-right: 16% !important;">Deadline Rubrik</label>
                  <mat-form-field class="stamblad">

                    <input id="OrdredeadlineRubrik" type="text" matInput formControlName="OrdredeadlineRubrik"
                           value="OrdredeadlineRubrik">
                  </mat-form-field>
                </mat-list-item>

                <mat-list-item>
                  <h6>Deadline for materiale</h6>
                </mat-list-item>
                <mat-list-item>
                  <label  style="margin-right: 18% !important;">Deadline tekst</label>
                  <mat-form-field class="stamblad">

                    <input id="MaterialedeadlineTekst" matInput type="text" formControlName="MaterialedeadlineTekst"
                           value="MaterialedeadlineTekst">
                    <mat-label></mat-label>
                  </mat-form-field>
                </mat-list-item>
                <mat-list-item>
                  <label  style="margin-right: 17% !important;">Deadline rubrik</label>
                  <mat-form-field class="stamblad">
                    <input matInput type="text" id="MaterialedeadlineRubrik" formControlName="MaterialedeadlineRubrik"
                           value="MaterialedeadlineRubrik">
                  </mat-form-field>
                </mat-list-item>


              </mat-list>
            </div>
            <div class="divTableCell">
              <mat-list>
                <mat-list-item>
                  <mat-label>Oplysninger til DLU's hjemmeside</mat-label>
                </mat-list-item>
                <mat-list-item>
                  <label  style="margin-right: 14.5% !important;">Hjemmeside</label>
                  <mat-form-field class="stamblad">
                    <input type="text" id="Hjemmeside" matInput formControlName="Hjemmeside"
                           value="Hjemmeside">
                  </mat-form-field>
                </mat-list-item>
                <mat-list-item>
                 <label> Redaktions email </label>
                  <mat-form-field class="stamblad">
                    <input matInput id="RedaktionEmail" type="text" formControlName="RedaktionEmail"
                           value="RedaktionEmail">
                  </mat-form-field>
                </mat-list-item>
              </mat-list>
            </div>

          </div>

        </div>

      </mat-tab>
      <mat-tab label="Udsending">
        <mat-grid-list cols="2" rowHeight="17:1" class="udsending-stamblad-grid">
          <mat-grid-tile colspan="2" rowspan="1"><label>Udsending</label></mat-grid-tile>
          <mat-grid-tile colspan="2" rowspan="1"><label style="margin-right: 5% !important; margin-left: 0% !important;">Ordre email</label>
            <mat-form-field class="stamblad" style="width: 80% !important;">
              <input type="text" id="OrdreEmail" matInput formControlName="OrdreEmail" value="OrdreEmail">

            </mat-form-field></mat-grid-tile>
          <mat-grid-tile><label style="margin-right: 10% !important;" >Material Email</label>
            <mat-form-field class="stamblad" style="width: 50% !important; ">

              <input matInput type="text" formControlName="MaterialeEmail" value="MaterialeEmail">
            </mat-form-field>

          </mat-grid-tile>
          <mat-grid-tile><label>Medienet</label></mat-grid-tile>

          <mat-grid-tile><label style="margin-right: 10% !important;">Tjekliste email</label>
            <mat-form-field class="stamblad">
            <input matInput id="OrdrecheckEmail" formControlName="OrdrecheckEmail"
                   value="OrdrecheckEmail">

            </mat-form-field></mat-grid-tile>
          <mat-grid-tile rowspan="6"><label>MedieNet ID</label>
            <mat-form-field class="stamblad">
              <input matInput type="text" id="MedieNetKode" formControlName="MedieNetKode"
                     value="MedieNetKode">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <label>Tjekliste Udsendelse</label>
            <mat-form-field class="stamblad">
              <input type="time" formControlName="MaterialeDeadlineRubrikDag" id="MaterialeDeadlineRubrikDag"
                     value="MaterialeDeadlineRubrikDag" matInput>
            </mat-form-field>

            <mat-form-field class="stamblad">

              <select formControlName="OrdrecheckSendeDagID" matInput matNativeControl>
                <mat-label>{{stamBladForm.get('OrdrecheckSendeDagID')?.value | dage}}</mat-label>
                <option *ngFor="let d of dage" [value]="d">{{d.DagNavn}}</option>
              </select>
            </mat-form-field></mat-grid-tile>
          <mat-grid-tile>  <mat-checkbox color="accent" id="SendIndevaerendeUge" formControlName="SendIndevaerendeUge"
                                         value="SendIndevaerendeUge"></mat-checkbox> <div style="margin-left: 1%;"> Send Liste for indværende uge</div></mat-grid-tile>
          <mat-grid-tile><label>Annonce Kontrol Email</label>
            <mat-form-field class="stamblad">
              <input matInput type="text" formControlName="AnnonceKontrolEmail"
                     value="{{stamBladForm.get('AnnonceKontrolEmail')?.value}}">

            </mat-form-field></mat-grid-tile>
          <mat-grid-tile><label style="margin-right: 7% !important;">Billagsblade Email</label>

            <mat-form-field class="stamblad">
              <input matInput type="text" id="BilagsbladeEmail" formControlName="BilagsbladeEmail"
                     value="BilagsbladeEmail">

            </mat-form-field>
          </mat-grid-tile>

        </mat-grid-list>

<mat-accordion>            <mat-expansion-panel class="udsending-expansion-body" style="background-color: #999999 !important;">
              <mat-expansion-panel-header >
                <mat-panel-title>
                Ansvarlig for
                </mat-panel-title>

              </mat-expansion-panel-header>
<mat-list style="width: 100% !important;">
  <mat-list-item>
    <label style="margin-left: 0px;">Stamdata Email</label>
    <mat-form-field class="stamblad" style="width: 80%;">
      <input type="text" matInput id="StamdataEmail" formControlName="StamdataEmail"
             value="StamdataEmail">

    </mat-form-field>
  </mat-list-item>
  <mat-list-item>

    <label style="margin-left: 0px !important;">Prisforspørgelsel Email</label>
    <mat-form-field class="stamblad" style="width: 80%;">
      <input type="text" id="PrisforespoergselEmails" formControlName="PrisforespoergselEmails" matInput
             value="PrisforespoergselEmails">

    </mat-form-field>
  </mat-list-item>
  <mat-list-item>
    <label style="margin-left: 0px !important;">Orienterings emails</label>

    <mat-form-field class="stamblad" style="width: 80%;">
      <input type="text" id="OrienteringEmails" matInput formControlName="OrienteringEmails"
             value="OrienteringEmails">

    </mat-form-field>
  </mat-list-item>
  <mat-list-item>
    <label>Emails</label>
    <mat-form-field class="stamblad" style="width: 80%;">
      <input type="email" id="Emails" matInput formControlName="Emails" value="Emails">

    </mat-form-field>

  </mat-list-item>
  <mat-list-item>
    <label style="margin-left: 0px !important; ">Kontaktpersoners emails</label>
    <mat-form-field class="stamblad" style="width: 80%;">

      <input matInput type="email" formControlName="KontaktpersonerEmails"
             value="KontaktpersonerEmails">

    </mat-form-field>
  </mat-list-item>
  <mat-list-item>

    <label style="margin-left: 0px !important;">Bogholderi emails </label>

    <mat-form-field class="stamblad" style="width: 80%;">
      <input matInput type="email" id="BogholderiEmails" formControlName="BogholderiEmails"
             value="BogholderiEmails">
    </mat-form-field>
  </mat-list-item>
</mat-list>


  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Udsending kontakter
    </mat-expansion-panel-header>

<app-udsendingkontaktertable></app-udsendingkontaktertable>
  </mat-expansion-panel>
</mat-accordion>

      </mat-tab>
      <mat-tab label="Ejerforhold">
        <app-ejerforhold></app-ejerforhold>
      </mat-tab>

    </mat-tab-group>



</form>

