<div style="left: 100px;">
  <app-stamblad-paginator [num]="0" [minNumber]="0" [maxNumber]="maxAntalAviser"></app-stamblad-paginator>
</div>
<div>
  <button mat-icon-button (click)="StartOpretNytStamBlad()">
    <mat-icon>add_circle</mat-icon>
  </button>
</div>
<form [formGroup]="stamBladForm" >
  <div style="width: 100%; margin-bottom: 40px !important;">
    <mat-tab-group *ngIf="erDerStamblad">

      <mat-tab label='Stamdata'>

        <div class="divTable">
          <div class="divTableBody">
            <div>
              <div class="divTableCell">


                <mat-list>
                  <mat-list-item>

                    <mat-form-field>
                      <input matInput   formControlName="BladId"  value="{{data$?.BladId}}">
                      <mat-label>BladID</mat-label>
                    </mat-form-field>

                  </mat-list-item>
                  <mat-list-item>
                    <mat-form-field>
                      <input  matInput class="mat-form-field" formControlName="Navn"  value="{{data$?.Navn}}"  required>
                      <mat-label>Navn</mat-label>
                    </mat-form-field>
                  </mat-list-item>

                  <mat-list-item>
                    <mat-form-field>


                      <input matInput  formControlName="Adresse" value="{{data$?.Adresse}}" placeholder="{{data$?.Adresse}}">
                      <mat-label>Addresse</mat-label>
                    </mat-form-field>
                  </mat-list-item>

                  <mat-list-item>
                    <mat-form-field>
                      <input matInput  formControlName="Adresse2" value="{{data$?.Adresse2}}" placeholder="{{data$?.Adresse2}}">
                      <mat-label>Addresse2</mat-label>
                    </mat-form-field>

                  </mat-list-item>
                  <mat-list-item>
                    <mat-form-field>
                      <mat-select formControlName="PostNr" value="{{data$?.PostNr}}"  placeholder="{{data$?.PostNr}}" [(ngModel)]="selectedPost"

                                  (selectionChange)="setByNavnByZipCode()">

                        <mat-option *ngFor="let p of postNr" [value]="p?.PostNr">{{p?.PostNr}}</mat-option>

                      </mat-select>

                    </mat-form-field>

                     <mat-form-field >
                       <mat-select  formControlName="SelectedPostNr"    placeholder="{{selectedByNavn}}"  [(value)]="selectedByNavn">
                      <mat-option *ngFor="let b of byNavn">{{b.PostBy}}</mat-option>
                       </mat-select>

                     </mat-form-field>

                  </mat-list-item>

                  <mat-list-item>

                    <mat-form-field>

                      <input matInput id="Tlf" formControlName="Tlf" value="{{data$?.Tlf}}" placeholder="{{data$?.Tlf}}">
                      <mat-label>Tlf</mat-label>
                    </mat-form-field>
                  </mat-list-item>
                  <mat-list-item>
                    <mat-form-field>
                      <input matInput id="Fax" formControlName="Fax" value="{{data$?.Fax}}" placeholder="{{data$?.Fax}}">
                      <mat-label>Fax</mat-label>
                    </mat-form-field>
                  </mat-list-item>
                  <mat-list-item>
                    <mat-form-field>
                      <input matInput id="Cvr" formControlName="Cvr" value="{{data$?.Cvr}}" placeholder="{{data$?.Cvr}}">
                      <mat-label>CVR</mat-label>
                    </mat-form-field>
                  </mat-list-item>

                </mat-list>
              </div>


              <div class="divTableCell">
                <mat-list>
                  <mat-list-item>


                    <button mat-raised-button (click)="visOpretKontakDialog()">Opret ny kontakt</button>


                  </mat-list-item>
                  <mat-list-item>Kontakt</mat-list-item>
                  <mat-list-item>
                    <mat-chip-list>
                      <mat-chip>Hovedgruppe</mat-chip>
                    </mat-chip-list>
                  </mat-list-item>
                  <mat-list-item>
                    <mat-radio-group formControlName="HovedgruppeId"  value="{{data$?.HovedgruppeId}}">
                      <mat-radio-button value="0">DD</mat-radio-button>
                      <mat-radio-button value="1">DL</mat-radio-button>
                      <mat-radio-button value="2">Øvrige</mat-radio-button>
                    </mat-radio-group>

                  </mat-list-item>
                  <mat-list-item>
                    <mat-select id="MedlemMaaned" [formControl]="MedlemMaaned" placeholder="{{data$?.MedlemMaaned}}"  [(value)]="selectedMedlemMd">
                      <mat-option *ngFor="let mo of months" [value]="mo">{{mo.name}}</mat-option>
                      <mat-label>Medlem Siden</mat-label>
                    </mat-select>

                    <mat-select id="MedlemAAr"  [formControl]="MedlemAAr"  placeholder="{{data$?.MedlemAAr | year}}"  >
                      <mat-option *ngFor="let y of years" [value]="y">{{y | year}}</mat-option>
                    </mat-select>
                  </mat-list-item>
                  <mat-list-item>

                    <mat-form-field>
                      <input matInput id="Ejerforhold" formControlName="Ejerforhold"  value="{{data$?.Ejerforhold}}">
                      <mat-label>Ejerforhold</mat-label>
                    </mat-form-field>
                  </mat-list-item>
                  <mat-list-item>

                    <mat-form-field>
                      <input matInput id="Koncern" formControlName="Koncern"  value="{{data$?.Koncern}}">
                      <mat-label>Koncern</mat-label>
                    </mat-form-field>
                  </mat-list-item>
                  <mat-list-item>
                    <section class="example-section">
                    <mat-checkbox  formControlName="Ophoert" [(ngModel)]="data$.Ophoert"  value="{{data$?.Ophoert}}">Ophørt</mat-checkbox>
                      <mat-checkbox formControlName="VisPaaWww"  [(ngModel)]="data$.VisPaaWww" value="{{data$?.VisPaaWww}}">Vis på Web</mat-checkbox>
                      <mat-checkbox formControlName="Overfoert"  [(ngModel)]="data$.Overfoert" value="{{data$?.Overfoert}}">Skal Overføres til web</mat-checkbox>
                    </section>

                  </mat-list-item>

                </mat-list>


              </div>
            </div>
            <div class="divTableCell">
              <app-bogholderi></app-bogholderi>


            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Dæknings">
        <div class="divTable">
          <div class="divTableRow">
            <div class="divTableCell">
              <mat-list>
                <mat-list-item>
                  <mat-label>Geografisk Data</mat-label>
                </mat-list-item>
                <mat-list-item>

                  <mat-form-field>
                    <mat-select id="RegionId" [formControl]="RegionId"  placeholder="{{data$?.RegionId | region}}">
                      <mat-option *ngFor="let d of regions" [value]="d">{{d.RegionNavn}}</mat-option>
                    </mat-select>
                  </mat-form-field>

                </mat-list-item>
                <mat-list-item>

                  <mat-form-field>
                    <mat-select id="DelOmraadeId"  [formControl]="Delomraade"  placeholder="{{data$?.DelOmraadeId | delomraade}}"  value="{{data$?.DelOmraadeId}}"  >
                      <mat-option *ngFor="let r of delomraader" [value]="r">{{r.DelOmraadeNavn1}}</mat-option>
                    </mat-select>

                  </mat-form-field>
                </mat-list-item>
                <mat-list-item>
                  <mat-form-field>
                    <mat-select id="GeoKodeId"  formControlName="GeoKodeId" value="{{data$?.GeoKodeId}}" placeholder="{{data$?.GeoKodeId | geo : geoService}}" >
                      <mat-option *ngFor="let g of geocodes" [value]="g">{{g.GeoKodeNavn}}</mat-option>
                    </mat-select>

                  </mat-form-field>
                </mat-list-item>


                <mat-list-item>

                  <mat-form-field>
                    <input matInput id="Totalomraade" formControlName="Totalomraade"  value="{{data$?.Totalomraade}}" placeholder="{{data$?.Totalomraade}}">
                    <mat-label>Total Område</mat-label>
                  </mat-form-field>
                </mat-list-item>
                <mat-list-item>
                  <mat-form-field>
                    <input matInput id="TotalomraadePct" formControlName="TotalomraadePct" value="{{data$?.TotalomraadePct}}" placeholder="{{data$?.TotalomraadePct}}">
                    <mat-label>Total område pct</mat-label>
                  </mat-form-field>
                </mat-list-item>

                <mat-list-item>

                  <mat-form-field>
                    <input matInput id="PrimaerPct" formControlName="PrimaerPct" value="{{data$?.PrimaerPct}}" placeholder="{{data$?.PrimaerPct}}">
                    <mat-label>Primær pct</mat-label>
                  </mat-form-field>
                </mat-list-item>
                <mat-list-item>
                </mat-list-item>
                <mat-list-item>
                  <mat-form-field>
                    <textarea matInput></textarea>
                    <mat-label>Beskrivelse af dækningsområde /internetttet</mat-label>
                  </mat-form-field>

                </mat-list-item>
              </mat-list>
            </div>
            <div class="divTableCell" style="width: 400px !important;">
              <app-blad-daekning></app-blad-daekning>
            </div>

          </div>

        </div>
      </mat-tab>

      <mat-tab label="Priser">

      </mat-tab>
      <mat-tab label="Pris oversigt"></mat-tab>
      <mat-tab label="Teknisk Data">
        <div class="divTable">
          <div class="divTableRow">
            <div class="divTableCell">
              <mat-list>
                <mat-list-item>
                  <mat-tab>Teknisk Data</mat-tab>
                </mat-list-item>
                <mat-list-item>

                  <mat-form-field>
                    <input matInput type="text" id="Oplag" formControlName="Oplag" value="{{data$?.Oplag}}">
                    <mat-label>Oplag</mat-label>
                  </mat-form-field>
                </mat-list-item>
                <mat-list-item>

                  <mat-select id="Ugedage" value="{{stamBladForm.get('UgedagId').value | dage}}" [formControl]="Ugedage"  value="{{data$?.UgedagId | dage}}">
                    <mat-option  *ngFor="let d of dage" [value]="d">{{d.DagNavn}}</mat-option>
                  </mat-select>

                </mat-list-item>
                <mat-list-item>
                  <mat-form-field>
                    <input matInput id="Format" type="text"  formControlName="Format" value="{{data$?.Format}}">
                    <mat-label>Format</mat-label>
                  </mat-form-field>
                </mat-list-item>
              </mat-list>wsexd

              <mat-list>
                <mat-list-item>
                  <mat-chip>Deadlines for ordre</mat-chip>
                </mat-list-item>

                <mat-list-item>

                  <mat-form-field>
                    <input id="OrdredeadlineTekst"  formControlName="OrdredeadlineTekst" matInput value="{{data$.OrdredeadlineTekst}}">
                    <mat-label>Ordre Deadline Tekst</mat-label>
                  </mat-form-field>
                </mat-list-item>
                <mat-list-item>

                  <mat-form-field>
                    <input id="OrdredeadlineRubrik" type="text" matInput  formControlName="OrdredeadlineRubrik"  value="{{data$.OrdredeadlineRubrik}}">
                    <mat-label>Deadline Rubrik</mat-label>
                  </mat-form-field>
                </mat-list-item>

                <mat-list-item>
                  <mat-chip>Deadline for materiale</mat-chip>
                </mat-list-item>
                <mat-list-item>
                  <mat-form-field>
                    <input id="MaterialedeadlineTekst" matInput type="text"  formControlName="MaterialedeadlineTekst" value="{{data$.MaterialedeadlineTekst}}">
                    <mat-label>Deadline tekst</mat-label>
                  </mat-form-field>
                </mat-list-item>
                <mat-list-item>
                  <mat-form-field>
                    <input matInput type="text" id="MaterialedeadlineRubrik"  formControlName="MaterialedeadlineRubrik" value="{{data$.MaterialedeadlineRubrik}}">
                    <mat-label>Deadline rubrik</mat-label>
                  </mat-form-field>
                </mat-list-item>


              </mat-list>
            </div>
            <div class="divTableCell">
              <mat-list>
                <mat-list-item>
                  <mat-label>Oplysninger til DLU´data$ hjemmeside</mat-label>
                </mat-list-item>
                <mat-list-item>
                  <mat-form-field>
                    <input type="text" id="Hjemmeside" matInput formControlName="Hjemmeside" value="{{data$.Hjemmeside}}">
                    <mat-label>Hjemmeside</mat-label>
                  </mat-form-field>
                </mat-list-item>
                <mat-list-item>
                  <mat-form-field>
                    <input matInput id="RedaktionEmail" type="text"  formControlName="RedaktionEmail" value="{{data$.RedaktionEmail}}">
                    <mat-label>Redaktions email</mat-label>
                  </mat-form-field>
                </mat-list-item>

              </mat-list>

            </div>

          </div>

        </div>

      </mat-tab>
      <mat-tab label="Udsending">


        <mat-grid-list [cols]="2" rowHeight="6:1">
          <mat-grid-tile [colspan]="2" style="background-color: white">
            <div style="width: 100%">
              <mat-form-field style="width: 80% !important;">
                <input type="text" id="OrdreEmail" matInput  formControlName="OrdreEmail" value="{{data$.OrdreEmail}}">
                <mat-label>Ordre email</mat-label>
              </mat-form-field>
            </div>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" rowspan="2" style="background-color: white">
            <div style="width: 100% !important;">
              <mat-list style="width: 100% !important;">
                <mat-list-item>
                  <mat-form-field style="width: 109% !important;">
                    <input type="text" id="MaterialeEmail" matInput formControlName="MaterialeEmail" value="{{data$.MaterialeEmail}}">
                    <mat-label>Materiale Email</mat-label>
                  </mat-form-field>
                </mat-list-item>
                <mat-list-item>
                  <mat-form-field style="width: 109% !important;">
                    <input matInput id="OrdrecheckEmail" formControlName="OrdrecheckEmail" value="{{data$.OrdrecheckEmail}}" >
                    <mat-label>Tjekliste Email</mat-label>
                  </mat-form-field>
                </mat-list-item>
                <mat-list-item>

                  <mat-form-field style="width: 50% !important;">

                   <input type="date" formControlName="MaterialeDeadlineRubrikDag" id="MaterialeDeadlineRubrikDag" value="{{data$.MaterialeDeadlineRubrikDag}}" matInput>
                  </mat-form-field>

                  <mat-form-field style="width: 50% !important;"   >
                    <mat-select [formControl]="OrdrecheckSendeDagID" placeholder="{{data$.OrdrecheckSendeDagId | dage}}">
                      <mat-option *ngFor="let d of dage" [value]="d">{{d.DagNavn}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </mat-list-item>
                <mat-list-item>
                  <mat-checkbox color="accent" id="SendIndevaerendeUge" formControlName="SendIndevaerendeUge" value="{{data$.SendIndevaerendeUge}}" ></mat-checkbox>
                </mat-list-item>
                <mat-list-item>
                  <mat-form-field style="width: 100% !important;">
                    <input matInput type="text" id="AnnonceKontrolEmail"  formControlName="AnnonceKontrolEmail" value="{{data$.AnnonceKontrolEmail}}">
                    <mat-label>Annonckontrol email</mat-label>
                  </mat-form-field>
                </mat-list-item>
                <mat-list-item>
                  <mat-form-field style="width: 100% !important;">
                    <input matInput type="text" id="BilagsbladeEmail" formControlName="BilagsbladeEmail" value="{{data$.BilagsbladeEmail}}">
                    <mat-label>Billagsbalde email</mat-label>
                  </mat-form-field>
                </mat-list-item>
              </mat-list>


            </div>

          </mat-grid-tile>
          <mat-grid-tile colspan="1" rowspan="2" style="background-color: white">
            <mat-list style="width: 100% !important;">
              <mat-list-item>
                <mat-basic-chip>
                  Medienet
                </mat-basic-chip>
              </mat-list-item>
              <mat-list-item>
                <mat-form-field>
                  <input matInput type="text" id="MedieNetKode"  formControlName="MedieNetKode" value="{{data$.MedieNetKode}}">
                </mat-form-field>
              </mat-list-item>


            </mat-list>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="2" rowspan="2" style="background-color: white"></mat-grid-tile>>
          <mat-grid-tile [colspan]="2" rowspan="2" style="background-color: white" >
            <mat-list style="width: 100% !important;">

                <mat-list-item>

                    <mat-chip>
                      Ansvarlig for
                    </mat-chip>

                </mat-list-item>

                <mat-list-item>
                  <mat-form-field style="width: 90% !important;">
                    <input type="text" matInput  id="StamdataEmail" formControlName="StamdataEmail" value="{{data$.StamdataEmail}}">
                    <mat-label>
                      Stamdata email
                    </mat-label>
                  </mat-form-field>
                </mat-list-item>

<mat-list-item>
                <mat-form-field style="width: 90% !important; ">
                  <input type="text" id="PrisforespoergselEmails"formControlName="PrisforespoergselEmails"  matInput value="{{data$.PrisforespoergselEmails}}">
                  <mat-label>Prisforespørgsel emails</mat-label>
                </mat-form-field>
              </mat-list-item>
              <mat-list-item>
                <mat-form-field style="width: 90% !important;">
                  <input type="text" id="OrienteringEmails"  matInput formControlName="OrienteringEmails" value="{{data$.OrienteringEmails}}">
                  <mat-label>Orienterings emails</mat-label>
                </mat-form-field>
              </mat-list-item>
              <mat-list-item>
                <mat-form-field style="width: 90% !important;">
                  <input type="email" id="Emails"  matInput formControlName="Emails" value="{{data$.Emails}}">
                  <mat-label>Emails</mat-label>
                </mat-form-field>
              </mat-list-item>
              <mat-list-item>
                <mat-form-field style="width: 90% !important;">
                  <input matInput type="email"  formControlName="KontaktpersonerEmails" value="{{data$.KontaktpersonerEmails}}">
                  <mat-label>Kontaktpersoners emails</mat-label>
                </mat-form-field>
              </mat-list-item>
              <mat-list-item>
                <mat-form-field style="width: 90% !important;">
                  <input matInput type="email"  id="BogholderiEmails" formControlName="BogholderiEmails" value="{{data$.BogholderiEmails}}">
                </mat-form-field>
              </mat-list-item>
            </mat-list>


          </mat-grid-tile>

        </mat-grid-list>


      </mat-tab>
      <mat-tab label="Ejerforhold">

      </mat-tab>
    </mat-tab-group>
    <div style="float: right !important; padding-right: 10% !important; position: relative " *ngIf="erDerStamblad">
      <button mat-raised-button (click)="OpdatereStamBlad()">{{opretOdatere}}</button>
      <button mat-raised-button>Print</button>
      <button mat-raised-button (click)="exportToExcel()">Export</button>
    </div>
  </div>

</form>

