.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  margin-left: 10px;
  width: 100%;
}

.udsending-container {
  display: flex;
  flex-direction: column;
}

.udsending-container > * {
  margin-left: 0px;
  width: 80% !important;
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.container:after {
  content: "";
  display: table;
  clear: both;
}

/* DivTable.com */
.divTable{
  display: table;
  width: 100px;
}
.divTableRow {
  display: table-row;
}
.divTableHeading {
  background-color: #EEE;
  display: table-header-group;
}
.divTableCell, .divTableHead {
  border: 0px solid #999999;
  display: table-cell;
  padding: 3px 3px;
  width: 90px !important;
  scroll-behavior: unset;
  height: 89% !important;
}
.divTableHeading {
  background-color: #EEE;
  display: table-header-group;
  font-weight: bold;
}
.divTableFoot {
  background-color: #EEE;
  display: table-footer-group;
  font-weight: bold;
}
.divTableBody {
  display: table-row-group;
}


/deep/ .mat-label {
  color: aqua !important;

}

.mat-list .mat-list-item.left .mat-list-item-content{
  justify-content: flex-start;
}
/* RIGHT align */
.mat-list .mat-list-item.right .mat-list-item-content{
  justify-content: flex-end;
}

.mat-list-base {
  width: 500px !important;
  margin-right: 2px !important;
}


label {
  width:100px;
  clear:left;
  text-align:right;
  padding-right:30px !important;
  padding-left: 3px !important;
  right: 30px;
}

input, label {
  float:left;
}
label{
  position: absolute;
}
.right{
  top: 0;
  left: 100%;
}
.left{
  top: 0;
  right: 100%;
}
.top{
  bottom: 100%;
  left: 0;
}
.bottom {
  top: 100%;
}
