<div style="left: 100px;">
  <app-stamblad-paginator [num]="0" [minNumber]="0" [maxNumber]="maxAntalAviser"></app-stamblad-paginator>
</div>
<div>
  <button mat-icon-button (click)="OpretStamBlad()"> <mat-icon>add_circle</mat-icon></button>
</div>
  <form [formGroup]="stamBladForm"  (ngSubmit)="OpretStamBlad()"   >
    <div style="width: 100%; margin-bottom: 40px !important;">
<mat-tab-group >

  <mat-tab label='Stamdata'>

    <div class="divTable" >
      <div class="divTableBody" >
        <div formGroupName="stamDataArray" *ngFor="let s of data">

        <div   class="divTableCell" >

            <mat-list>
              <mat-list-item >
                <label for="BladID">Blad ID</label>
                <mat-form-field >
                  <input matInput id="BladID" formControlName="BladID" name="BladID"  value="{{s.BladID}}" >

                </mat-form-field>

              </mat-list-item>
              <mat-list-item>
                <label for="Navn" >Navn</label>
                <mat-form-field  >

                  <input id="Navn"  matInput class="mat-form-field" formControlName="Navn"  value="{{s.Navn}}" required>



                </mat-form-field>
              </mat-list-item>

              <mat-list-item>
                <label for="Addresse" >Addresse</label>
                <mat-form-field>


                  <input matInput id="Addresse" formControlName="Addresse"  value="{{s.Adresse}}">
                </mat-form-field>
              </mat-list-item>

              <mat-list-item>
                <label for="Addresse2" >Adresse2</label>
                <mat-form-field  >
                  <input matInput id="Addresse2"  formControlName="Addresse2" value="{{s.Adresse2}}">
                </mat-form-field>

              </mat-list-item>
              <mat-list-item>
                <label  for="Postnr">Post nr</label>
                <mat-form-field  >
                  <mat-select id="postnr" formControlName="Postnr" [(ngModel)]="selectedPostNr">
                    <mat-option *ngFor="let p of postNr" [value]="p.PostNr">{{p.PostNr}}</mat-option>
                    <div *ngIf="s.PostNr !== null">
                      <mat-option >{{s.PostNr}}</mat-option>
                    </div>
                  </mat-select>

                </mat-form-field>
                <label for="By" >By</label>
                <mat-form-field>
                  <mat-select id="By" formControlName="By"  [(ngModel)]="selectBynavn" >
                    <mat-option    *ngFor="let w of byNavn" value="">{{w.PostBy}}</mat-option>
                    <div *ngIf="s.PostNr !== null">
                      <mat-option >{{s.PostNr}}</mat-option>
                    </div>
                  </mat-select>
                </mat-form-field>
              </mat-list-item>
              <mat-list-item>
                <label for="Tlf" >Tlf</label>
                <mat-form-field>
                  <input matInput id="Tlf" formControlName="Tlf">
                </mat-form-field>
              </mat-list-item>
              <mat-list-item>
                <label for="Fax" >fax</label>
                <mat-form-field>
                  <input matInput id="Fax" formControlName="Fax" >
                </mat-form-field>
              </mat-list-item>
              <mat-list-item>
                <label  for="CVR">CVR</label>
                <mat-form-field >
                  <input matInput id="CVR" formControlName="CVR">
                </mat-form-field>
              </mat-list-item>

            </mat-list>
          </div>


          <div class="divTableCell" formGroupName="stamdataSide2">
            <mat-list>
<mat-list-item>
  <mat-list-item>
    <label for="kontaktPerson" >Kontakt Person</label>
    <app-komtakt-person id="kontaktPerson"></app-komtakt-person>
  </mat-list-item>
</mat-list-item>
              <mat-list-item>
              <mat-chip-list>
                <mat-chip>Hovedgruppe</mat-chip>
              </mat-chip-list>
            </mat-list-item>
              <mat-list-item>
                <mat-radio-group >
                  <mat-radio-button value="1">DD</mat-radio-button>
                  <mat-radio-button value="2">DL</mat-radio-button>
                  <mat-radio-button value="3">Øvrige</mat-radio-button>
                </mat-radio-group>

              </mat-list-item>
              <mat-list-item>
                <label>Medlem Siden</label>
                <mat-select id="medlemSidenAAr" formControlName="medlemSidenAAr" ><mat-option *ngFor="let mo of months" [value]="mo.months">{{mo.months}}</mat-option></mat-select>

                <mat-select id="medlemnSidenMd"  formControlName="medlemnSidenMd" ><mat-option *ngFor="let y of years" value="y"
                >{{y}}</mat-option></mat-select>
              </mat-list-item>
              <mat-list-item>
                <label for="ejerforhold">Ejerforhold</label>
                <mat-form-field>
                <input matInput id="ejerforhold"  formControlName="ejerforhold">
                </mat-form-field>
              </mat-list-item>
              <mat-list-item>
              <label>Koncert</label>
                <mat-form-field>
                <input matInput id="koncern" formControlName="koncern">
                </mat-form-field>
              </mat-list-item>
              <mat-list-item>
              <mat-radio-group>
          <mat-radio-button >Ophørt</mat-radio-button>
                <mat-radio-button>Skal Overføres til Website</mat-radio-button>
              </mat-radio-group>
              </mat-list-item>

            </mat-list>



          </div>
        </div>

      </div>

    </div>
  </mat-tab>

  <mat-tab label='Dækningsområde'>


  </mat-tab>
<mat-tab label='Priser'>

</mat-tab>
  <mat-tab label="Priser">

  </mat-tab>
  <mat-tab label="Pris oversigt"></mat-tab>
  <mat-tab label="Teknisk Data"></mat-tab>
  <mat-tab label="Udsending"></mat-tab>

</mat-tab-group>
      <div style="float: right !important; padding-right: 40% !important; " ><button mat-raised-button  type="submit">Opdatere</button></div>
    </div>

</form>

