th {
  background-color: white;
  border: black;
  margin-right: 3px;
  font-size: 9px;
  font-family: "Proxima-Nova", "Proxima", "proxima-nova", sans-serif
}
table {
  background-color: white;
  margin-left: 20px;
}
